---
layout: description
---
<h2 style = "text-align:center">{{ page.title }}</h2>
<small>{{ post.date | date_to_string }}</small>

{{content}}

<hr size = "3" width = "50%" align = "center" noshade>
<div class="post-categories" style = "text-align:center">
  
  Categories :
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
      <a href="{{site.url}}/blog/">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

{% if site.disqus.shortname and page.comments %}
  <hr>
  {% include disqus_comments.html %}
{% endif %}
